@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

html{
	height:100%;
}

body {
	height:100%;
	padding-top: 50px;
}


#bodyfill{
	height:100%;
	width:100%;
}

#default_container{
	margin-bottom: 50px;
}

#header a {
	color: #FFFFFF;
}

#header li a:hover {
	background-color: #D32F2F;
}

.navbar {
	border-radius: 0;
	background-color: #F44336;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Hanna', serif;
	letter-spacing: 0.5px;
}

.navbar-header .icon-bar {
	background-color: white;
}

.navbar-menu {
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

.active {
	background-color: #D32F2F;
}

.alert{
	font-family: "Nanum Barun Gothic", sans-serif;
}

#captcha {
	margin-top: 10px;
	margin-bottom: 10px;
}

.number-nospin input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

#loginpage_background{
	height:100%;
	width:100%;
	display:table;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#loginpage_wrapper{
	margin: 0 auto;
}

#loginpage_content {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Hanna', serif;
	font-size: 45px;
}

#loginbtn{
	margin-bottom: 15px;
}

.chickenimg{
	background-image: url('../resources/background_chicken.jpg');
}

.loginpage_container{
	height: 100%;
	display: table;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}

.vertical-center-row{
	display: table-cell;
	vertical-align: middle;
}

.noti {
	background-color: #FFFFFF;
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
}

.noti-danger h4 {
	color: #F44336;
}

.loginpage_link {
	color: #FFFFFF;
	font-size: 10pt;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

.loginpage_link:hover {
	color: #FFFFFF;
	font-size:10pt;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

.loginpage_link:active {
	color: #FFFFFF;
	font-size:10pt;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

.accountinput {	
	border-radius: 2px;
	margin: 5px auto;
	max-width: 330px;
	padding: 10px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 400;
}

#registerpage_title {
	text-align: center;
	color: #555555;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 200;
	font-size: 35px;
	margin-top: 25px;
	margin-bottom: 30px;
}

.registerpage {
	color: #000000;
	font-size: 10pt;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
	margin-top: 10px;
}

.registerpage_link {
	color: #555555;
	font-size: 10pt;
	font-weight:bold;
	text-decoration:underline;
	font-family: "Nanum Barun Gothic", sans-serif;
}

.registerpage_link:hover {
	color: #555555;
	font-size: 10pt;
	font-weight:bold;
	text-decoration:underline;
	font-family: "Nanum Barun Gothic", sans-serif;
}

.registerpage_link:active {
	color: #555555;
	font-size: 10pt;
	font-weight:bold;
	text-decoration:underline;
	font-family: "Nanum Barun Gothic", sans-serif;
}


.registerinput {
	background-color: #EEEEEE;
	border-radius: 2px;
	margin: 0px auto;
	max-width: 330px;
	padding: 10px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 400;
}

.promotion {
	height: 100%;
	margin-bottom: 30px;
}

.promotion h2{
	color: #737373;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 400;
	text-align: center;
}

.promotion p{
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
}

.homepromotion h2{
	color: #000000;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 400;
}

.homepromotion h2 small{
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.homepromotion a{
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.sell-add-parent {
	padding-bottom: 3px;
}

.sell-add-title h4 {
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.sell-add-title2 {
	padding-top: 9px;
	padding-bottom: 3px;
}

.sell-add-title2 h4 {
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.sell-add-title3 h5 {
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.sell-add-title3 a{
	color: #F44336;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.sellinput {	
	border-radius: 2px;
	margin: 0px;
	max-width: 330px;
	padding: 0px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

#about_title {
	color: #555555;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 200;
	font-size: 35px;
	margin-top: 25px;
	margin-bottom: 30px;
}

.about h2{
	color: #737373;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 30px;
}

.about h4{
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 200;
}

.about p{
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
	margin-bottom: 30px;
}

.about a {
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 400;
	text-decoration:underline;
}

.about a:hover {
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 400;
	text-decoration:underline;
}

.findpw h2{
	color: #737373;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 400;
	text-align: center;
}

.findpw p{
	color: #737373;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}

.findpwinput {
	margin: 0px auto;
	max-width: 330px;
	padding: 10px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 400;
}

.card:hover{
	border: 1px solid #F44336;
}

.card-content h3{
	color: #555555;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 400;
}

.card-content h5{
	color: #737373;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 400;
}

.card-content h6{
	color: #737373;
	font-family: 'Nanum Barun Gothic', serif;
	font-weight: 300;
}

.form-control {
	position: relative;
	height: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}

.form-control:focus {
	border-color: #b94a48;
	position: relative;
	height: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}

.btn-default { 
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	border-color: #F44336; 
	background-color: #F44336;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

.btn-default:hover { 
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	border-color: #E53935; 
	background-color: #E53935; 
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

.btn-default:focus, .btn-default:active {
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	border-color: #D32F2F; 
	background-color: #D32F2F; 
	font-family: "Nanum Barun Gothic", sans-serif;
	font-weight: 300;
}

