@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

html{
  height:100%;
}

body {
  height:100%;
  padding-top: 50px;
}

.navbar {
	border-radius: 0;
	background-color: #F44336;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Hanna', serif;
	letter-spacing: 0.5px;
}

#loginpage_background{
	height:100%;
	width:100%;
	display:table;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#errorpage_background{
	height:100%;
	width:100%;
	display:table;
	background-image: url('../resources/background_chicken.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.vertical-center {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

#loginpage_wrapper{
	margin: 0 auto;
}

#loginpage_content {
	padding: 15px 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Hanna', serif;
	font-size: 48pt;
}

.accountinput {
	margin: 5px auto;
    max-width: 330px;
    padding: 10px;
}

.form-control {
    position: relative;
  	height: auto;
  	padding: 10px;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	font-size: 16px;
}

.form-control:focus {
	border-color: #b94a48;
    position: relative;
  	height: auto;
  	padding: 10px;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	font-size: 16px;
}

#loginbtn{
	margin-bottom: 40px;
}

.btn-default { 
	outline: none;
	border-color: #F44336; 
	background-color: #F44336;
}

.btn-default:hover { 
	outline: none;
	border-color: #E53935; 
	background-color: #E53935; 
}

.btn-default:focus, .btn-default:active {
	outline: none;
	border-color: #D32F2F; 
	background-color: #D32F2F; 
}

#header a {
	color: #FFFFFF;
}

#header li a:hover {
	background-color: #D32F2F;
}
