<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>치킨인더웹 : 이 세상 모든 치킨</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
  
<nav class="navbar navbar-fixed-top" role="navigation" id="header">
    <div class="container-fluid" id="navbar-container">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">치킨인더웹</a>
      </div>

    </div>
</nav>
  <div id="loginpage_background">
  <div class="container vertical-center" id="loginpage_container">
  <div id="loginpage_wrapper ">
  <div id="loginpage_content">
  <p>{{errorcode}}</p>
  </div> <!-- loginpage -->
  </div>
  </div> <!-- loginpage_wrapper -->
  </div> <!-- container -->
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>