{% extends "template_base.htm" %}
	{% block bodyfill %}
	{% if email %}
	
	{% else %}
	<div class="chickenimg" id="loginpage_background">
		<div class="container vertical-center" id="loginpage_container">
			<div id="loginpage_wrapper">
				<div id="loginpage_content">
				너와 나의 치킨 고리<br> 이건 우리 안의 치킨
				</div> <!-- loginpage -->
				<div id="loginpage_input">
					<form class="accountinput" role="form" method="post" action="/login">
						<label for="inputEmail" class="sr-only">이메일 주소</label>
						<input type="email" name="email" id="inputEmail" class="form-control" placeholder="이메일 주소" required autofocus>
						<label for="inputPassword" class="sr-only">비밀번호</label>
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="비밀번호" required>
						<button id="loginbtn" class="btn btn-lg btn-primary btn-block btn-default" type="submit">로그인</button>
					</form>
				</div>
				<a class="loginpage_link" href="/register">회원가입</a>
				<span class="loginpage_link">  |  </span>
				<a class="loginpage_link" href="/findpw">비밀번호 찾기</a>
			</div> <!-- loginpage_wrapper -->
		</div> <!-- container -->
	</div>
	{% endif %}
{% endblock %}