{% extends "template_base.htm" %}
{% block bodyfill %}
<div id="default_container" class="container">
	<div class="page-header homepromotion">
		<h2>결제하기</h2>
	</div>

	<div class="purchase-section">
		<h4>결제정보</h4>
	</div>
	{% if request == 'direct' %}
	<div class="purchase">
		<span>
			<span class="title">{{ chicken.name }}</span><span class="quantity-chk">수량 : {{ chicken.uquantity }}</span>
			<span class="quantity-delete">{{ chicken.pricestr }}</span>
		</span>
	</div>
	{% for option in optionlist %}
	<div class="purchase-option">
		<span>
			<span class="title">[옵션] | {{ option.name }}</span><span class="quantity-chk">수량 : {{ option.uquantity }}</span>
			<span class="quantity-delete">{{ option.pricestr }}</span>
		</span>
	</div>
	{% endfor %}
	{% else %}
	{% for bucket in bucketlist %}
	{% if bucket.created_at %}
	<div class="purchase">
		<span>
			<span class="title">{{ bucket.name }}</span><span class="quantity-chk">수량 : {{ bucket.uquantity }}</span>
			<span class="quantity-delete">{{ bucket.pricestr }}</span>
		</span>
	</div>
	{% else %}
	<div class="purchase-option">
		<span>
			<span class="title">[옵션] | {{ bucket.name }}</span><span class="quantity-chk">수량 : {{ bucket.uquantity }}</span>
			<span class="quantity-delete">{{ bucket.pricestr }}</span>
		</span>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	<div class="purchase" style="vertical-align:baseline; padding-bottom:0px; text-align:right;">
		<span>결제할 금액 : </span><span id="finalprice">{{ finalprice }}</span>
	</div>
	<div class="purchase-section">
		<h4>구매자 정보</h4>
	</div>
	<div class="purchase">
		<span class="title">이름 | <strong>{{ user.name }}</strong></span>
	</div>
	<div class="purchase-option">
		<span class="title">연락처 | <strong>{{ user.number }}</strong></span>
	</div>
	<div class="purchase-option">
		<span class="title">이메일 | <strong>{{ user.email }}</strong></span>
	</div>
	<div class="purchase-option">
		<span class="inputtitle">주소 | <strong>{{ user.address }}</strong></span>
	</div>
	<div class="purchase purchase-option purchase-wallet">
		<center>
		<h4>치킨인더웹 월렛에서 자동으로 결제됩니다</h4>
		<h2>월렛 잔고 : {{ wallet.moneystr }} -> <strong>{{ wallet.afterpaystr }}</strong></h2>
		{% if wallet.afterpay >= 0 %}
		<button id="purchase" class="btn btn-lg btn-primary btn-default" style="width:50%;" onclick="req('purchase')">결제하기</button>
		{% else %}
		<button id="purchase" class="btn btn-lg btn-primary btn-default" style="width:50%;" onclick="req('wallet')">월렛 충전하기</button>
		{% endif %}
		</center>
	</div>
	<script type="text/javascript">
	var request = '{{ request }}';
	function req(reqtype) {
		if(reqtype=='purchase'){
    		var form = document.createElement("form");
    		form.setAttribute("method", "post");
    		form.setAttribute("action", '/purchase');
    		{% if request == 'direct' %}
    		var item = document.createElement("input");
    		item.setAttribute("type", "hidden")
    		item.setAttribute("name", "checkout")
    		item.setAttribute("value", "direct");
    		form.appendChild(item);
    		item = document.createElement("input");
    		item.setAttribute("type", "hidden")
    		item.setAttribute("name", "chicken")
    		item.setAttribute("value", {{ chicken.key.id }});
    		form.appendChild(item);
    		item = document.createElement("input");
    		item.setAttribute("type", "hidden")
    		item.setAttribute("name", "chicken_quantity")
    		item.setAttribute("value", {{ chicken.uquantity }});
    		form.appendChild(item);
    		{% for option in optionlist %}
			item = document.createElement("input");
    		item.setAttribute("type", "hidden")
    		item.setAttribute("name", "option")
    		item.setAttribute("value", {{ option.key.id }});
    		form.appendChild(item);
    		item = document.createElement("input");
    		item.setAttribute("type", "hidden")
    		item.setAttribute("name", "option_quantity")
    		item.setAttribute("value", {{ option.uquantity }});
    		form.appendChild(item);
			{% endfor %}
    		{% else %}
    		var item = document.createElement("input");
    		item.setAttribute("type", "hidden")
    		item.setAttribute("name", "checkout")
    		item.setAttribute("value", "bucket");
    		form.appendChild(item);
    		{% endif %}
    		document.body.appendChild(form);
    		form.submit();
    	}else{
    		location.href='/mypage';
    	}
    }
	</script>
</div>
{% endblock %}