{% extends "template_base.htm" %}
{% block bodyfill %}
<div id="default_container" class="container">
	<div class="page-header homepromotion">
		<h2>상품관리 <small>등록된 치킨</small></h2>
	</div>
	<div id="cardgrid" class="row">
		{% for chicken in chicken_list %}
		<div class="cardwrap col-xs-12 col-sm-6 col-md-4">
			<div class="thumbnail card" onclick="window.location = '/seller/chicken?cid={{ chicken.key.id }}';">
				<img src="/blob/image?id={{ chicken.key }}" alt="..." style="width:100%;">
				<div class="caption card-content">
					<h3>{{ chicken.name }}</h3>
					<h5>{{ chicken.quantity }}개 남음</h3>
				</div>
			</div>
		</div>
		{% endfor %}
		<script type="text/javascript">		
		var container = document.querySelector('#cardgrid');
		var msnry;
		// initialize Masonry after all images have loaded
		imagesLoaded( container, function() {
 			msnry = new Masonry( container,{itemSelector: '.cardwrap'} );
		});
		</script>
	</div>
</div>
{% endblock %}