{% extends "template_base.htm" %}
{% block bodyfill %}
<div id="default_conatiner" class="container">
		<div class="page-header homepromotion">
			{% if request == 'store' %}
	  		<h2>{{ store.seller.name }} <small>{{ store.intro }}</small></h2>
	  		{% else %}
	  		{% if type == 'brand' %}
	  		<h2>프랜차이즈치킨 <small>전국 어디서나 같은 맛!</small></h2>
	  		{% else %}
	  		<h2>동네치킨 <small>프랜차이즈 치킨과는 다른 독특한 맛!</small></h2>
	  		{% endif %}
	  		{% endif %}
		</div>
		<div id="cardgrid" class="row">
		{% if request == 'store' %}
		{% for chicken in chicken_list %}
		<div class="cardwrap col-xs-12 col-sm-6 col-md-4">
			{% if type == 'brand' %}
			<div class="thumbnail card" onclick="window.location = '/chicken/brand?cid={{ chicken.key.id }}';">
			{% else %}
			<div class="thumbnail card" onclick="window.location = '/chicken/local?cid={{ chicken.key.id }}';">
			{% endif %}
				<img src="/blob/image?id={{ chicken.key }}" alt="..." style="width:100%;">
				<div class="caption card-content">
					<h3>{{ chicken.name }}</h3>
					<h5>{{ chicken.pricestr }} | {{ chicken.quantity }}개 남음</h3>
					<h6>{{ chicken.intro }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		{% for store in store_list %}
		<div class="cardwrap col-xs-12 col-sm-6 col-md-4">
			{% if type == 'brand' %}
	  		<div class="thumbnail card" onclick="window.location = '/chicken/brand?id={{ store.key.id }}';">
			{% else %}
	  		<div class="thumbnail card" onclick="window.location = '/chicken/local?id={{ store.key.id }}';">
			{% endif %}
				<img src="/blob/image?id={{ store.key }}" alt="..." style="width:100%;">
				<div class="caption card-content">
					<h3>{{ store.seller.name }}</h3>
					{% if type == 'brand' %}
					{% else %}
					<h5>{{ store.seller.address }}</h5>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<script type="text/javascript">		
		var container = document.querySelector('#cardgrid');
		var msnry;
		// initialize Masonry after all images have loaded
		imagesLoaded( container, function() {
 			msnry = new Masonry( container,{itemSelector: '.cardwrap'} );
		});
		</script>
	</div>
</div>
{% endblock %}