{% extends "template_base.htm" %}
{% block bodyfill %}
<div class="container">
		<div class="about">
	  		<div id="about_title">개인정보 취급방침</div>
	  		<h4>치킨인더웹이 수집하는 개인정보는</h4>
	  		<p>가입하실때 입력하신 이메일, 이름, 주소, 전화번호 총 4가지 항목입니다. </p>
	  		<h4>여러분의 개인정보는 개발자의 과제 평가가 끝난 뒤 지체없이 파기됩니다.</h4>
	  		<p>치킨인더웹은 과제 제출용으로 만든 페이지이기 때문에 교수님의 과제 평가가 끝나고 난 뒤 일정기간 후에 바로 삭제됩니다.</p>
	  		<h4>기타 궁금하신 사항은</h4>
	  		<p>개발자에게 연락해주시면 감사하겠습니다. | <a href="https://twitter.com/iswasteoftime">개발자 트위터</a></p>
		</div>
</div>
{% endblock %}