<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>치킨인더웹 : 이 세상 모든 치킨</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="/jq/jquery.js" type="text/javascript"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
	{% if email %}
	{% if seller %}
	<nav class="navbar navbar-fixed-top" role="navigation" id="header">
		<div class="container-fluid" id="navbar-container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">치킨인더웹</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a {% ifequal path '/seller/order' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/seller/order">주문관리</a></li>
					<li><a {% ifequal path '/seller/sell' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/seller/sell">판매관리</a></li>
					<li><a {% ifequal path '/seller/chicken' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/seller/chicken">상품관리</a></li>
					<li><a {% ifequal path '/seller/add' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/seller/add">상품추가</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a {% ifequal path '/mypage' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/mypage">{{email}}</a></li>
					<li><a class="navbar-menu" href="/logout">로그아웃</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% else %}
	<nav class="navbar navbar-fixed-top" role="navigation" id="header">
		<div class="container-fluid" id="navbar-container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">치킨인더웹</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a {% ifequal path '/chicken/brand/' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/chicken/brand">브랜드치킨</a></li>
					<li><a {% ifequal path '/chicken/local/.*' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/chicken/local">동네치킨</a></li>
					<li><a {% ifequal path '/order/bucket/.*' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/order/bucket">장바구니</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a {% ifequal path '/mypage' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/mypage">{{email}}</a></li>
					<li><a class="navbar-menu" href="/logout">로그아웃</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% endif %}
	{% else %}
	<nav class="navbar navbar-fixed-top" role="navigation" id="header">
		<div class="container-fluid" id="navbar-container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">치킨인더웹</a>
				{% if path == '/register' or path == '/register/seller' or path == '/terms' or path == '/security' %}
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% endif %}
			</div>
			{% if path == '/register' or path == '/register/seller' %}
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a {% ifequal path '/register' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/register">일반 회원가입</a></li>
					<li><a {% ifequal path '/register/seller' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/register/seller">판매자 회원가입</a></li>
				</ul>
			</div>
			{% endif %}
			{% if path == '/terms' or path == '/security' %}
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a {% ifequal path '/terms' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/terms">이용약관</a></li>
					<li><a {% ifequal path '/security' %} class="navbar-menu active" {% else %} class="navbar-menu" {% endifequal %} href="/security">개인정보 취급방침</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</nav>
	{% endif %}
	<div id="bodyfill">
		{% block bodyfill %}
		{% endblock %}
	</div>
</body>
</html>