{% extends "template_base.htm" %}
{% block bodyfill %}
<div class="container">
		<div class="about">
	  		<div id="about_title">이용약관</div>
	  		<h4>치킨인더웹에 오신것을 환영합니다!</h4>
	  		<p>치킨인더웹은 개발자가 학교에서 듣는 웹프로그래밍 과목 프로젝트로 만든 가상의 치킨 쇼핑몰입니다.</p>
	  		<h4>치킨인더웹은 가상의 치킨 쇼핑몰입니다.</h4>
	  		<p>따라서 치킨인더웹에서 치킨을 주문하셔도 치킨은 오지 않습니다.</p>
	  		<h4>치킨인더웹 안의 치킨집은 실제로 존재하는 치킨집입니다.</h4>
	  		<p>만약 치킨인더웹에 운영하시는 치킨집 정보가 업로드되는것을 원하지 않는경우 아래 개발자 트위터를 통해 연락주시면 감사하겠습니다.</p>
	  		<h4>개인정보 보호를 위해 최선을 다하고 있습니다.</h4>
	  		<p>자세한 내용은 <a href="/security">개인정보 취급방침</a>을 참고해주세요.</p>
	  		<h4>치킨인더웹 서비스는 언제든지 중단될 수 있습니다.</h4>
	  		<p>과제때문에 만든 가상의 쇼핑몰이기 때문에 과제 평가가 완료된 뒤 언제든지 서비스가 중단될 수 있습니다.</p>
	  		<h4>기타 궁금하신 사항은</h4>
	  		<p>개발자에게 연락해주시면 감사하겠습니다. | <a href="https://twitter.com/iswasteoftime">개발자 트위터</a></p>
		</div>
</div>
{% endblock %}